// Variables

// Background color
$primary-color: #dde4e8;

// Accent color
$secondary-color: #514cad;

//Header color
$tertiary-color: #ffc97a;

// Font color
$font-color: #ce2f7f;


$navbar-text-shadow: true;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $tertiary-color;
$navbar-lg-background: $tertiary-color;
$navbar-sm-background-color: $tertiary-color;

$social-buttons-color: $secondary-color;
