// Variables

// Background color
$primary-color: #46425e;

// Accent color
$secondary-color: #ff6973;

//Header color
$tertiary-color: #15788c;

// Font color
$font-color: #ffeecc;

// Intro text color
$intro-font-color:#faf8ed;


$navbar-text-shadow: true;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $intro-font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $tertiary-color;
$navbar-lg-background: $tertiary-color;
$navbar-sm-background-color: $tertiary-color;

$social-buttons-color: $secondary-color;
