// Variables

// Background color
$primary-color: #fffad6;

// Accent color
$secondary-color: #00d6ba;

//Header color
$tertiary-color: #fdaac6;

// Font color
$font-color: #ff569c;

// Intro text color
$intro-font-color:#faf8ed ;


$navbar-text-shadow: true;
$header-text-shadow: false;
$header-background-color: $primary-color;
$intro-text-color: $intro-font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $tertiary-color;
$navbar-lg-background: $tertiary-color;
$navbar-sm-background-color: $tertiary-color;

$social-buttons-color: $secondary-color;
